<p>
    <h2><%= @shared_from.name %> thought you would like to have access to the lease for <%= link_to @space.building.address, @buildingurl %>, Suite <%= link_to @space.suite, @spaceurl %></h2>
  	
    <p><%= link_to 'Click Here to See the Lease', @sharedurl %></p>

    <p>What does this mean to you?</p>
    You will now have the ability to monitor and view this lease anytime you want.  Additionally, there may be opportunity in the future to compare this lease with others in the surrounding area.
    <p>
    Check it out - oh, and you also have the ability to share this lease with others - just look for the email bar with the words "Share It" next to it.
    <p/>
    Regards,
    <p/>
    The TrackingSpace Team
    <p/><p/>