<h3><%= @follower.name %> is now following you.</h3>

<p>You can take a look at their profile by <%= link_to 'clicking here', @followerurl %>.</p>

<p>See you around!</p>

<p/><p/>
The TrackingSpace Team