<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @building.address %></h3>
    <p><%= @micropost.content %></p>
    <br>By: <%= @micropost.user.name %></br>
  </body>
</html>