
  	<h2><%= @sponsorid.sponsoredmember.name %> has accepted your invitation for sponsorship!</h2>

    <p>We are going to be building a ton of interaction for the two of you over the next few months.  We'll keep you up to date on the progress as its being made.  Until then, they will at least see your smiling mug (if you updated your picture through Gravatar) everytime they come to the site.</p>
    <p/>
    Regards,
    <p/>
    The TrackingSpace Team
    <p/><p/>