<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Welcome to greater benefits!</h4>
    <p>
      First, thank you for being a member.  Second, welcome to the benefits of upgrading to a premium membership.
    </p>
    <p>
      This is new.  This is exciting.  Right now we're very small - but looking to provide a tremendous service 
      to people on all levels.  Its success will depend initially on people like you - the early adopters.
      Being an early adopter provides a few immediate benefits: first dibs on prime advertising slots, charter 
      pricing, and direct impact on making the system "yours".
    </p>
    <p>
      Our goal is to have 5-10 early adopters per market across the country by February of 2013.  The first couple of
      months will be critical in establishing a strong beachhead.  With this beachhead, we'll be able to bring on 
      more talent to make the service look, function and perform even better.  Now that you have taken a step to part
      with your hard-earned cash each month, that says something.  We appreciate it and thank you. 
    </p>
    <p>
      It would be tremendous if you could recommend us regularly to your friends and colleagues in the same or other
      markets.  The buildings in our system cover every market around the world.  Global localizations (terminology,
      currency, etc.) will be added in the early part of next year.  And if you know people overseas...it would be
      great to see them using the system.  Thinking of a few people - let them know.
    </p>
    <p>
      We have a lot of work to do.  Many features to introduce over the next several months.  Again, we appreciate your 
      support and hope that you can encourage others to use and upgrade in our system as well.
    <p>
    <p>
      This is going to be a wild ride.  Please do not hesitate to call or email me directly with questions or issues.
      I am not going to lie, I am pretty busy guy and if you call you may go to voicemail.  Please leave a message if 
      that happens and/or shoot me an email.
    </p>

    <p>Thank you,</p>
    <p>
      <p>David Edkins</p>
      <br/>Owner / Founder
      <br/>(916) 549-1771 <--direct mobile
      <br/>dedkins@trackingspace.com
  </body>
</html>