<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to greater benefits!</h1>
    <p>
      Some words here...
    </p>

    <p>Thank you,</p>
    <p>
      <p>David Edkins</p>
      <br/>Owner / Founder
  </body>
</html>