<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Welcome to greater benefits!</h4>
    <p>
      First, thank you for being a member.  Second, welcome to the benefits of upgrading to a premium membership.
    </p>
    <p>
      This is new.  This is exciting.  Right now we're very small - but looking to provide a tremendous service 
      to people on all levels.  Its success will depend initially on people like you - the early adopters.
      Being an early adopter provides a few immediate benefits: first dibs on prime advertising slots, securing sponsorships, charter pricing, and direct impact on making the system "yours".  Start spreading the word.  The system will only get better
      as more people use it.
    </p>
    <p>
      Help us make it better by sending me an email with your thoughts - what you love and what you hate.  
    </p>

    <p>Thank you again,</p>
    <p>
      <p>David Edkins</p>
      <br/>Creator
      <br/>(916) 549-1771 <--direct mobile
      <br/>dedkins@trackingspace.com
  </body>
</html>