<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Trackingspace, <%= @user.email %></h1>
    <p>
      You have successfully become a member of Trackingspace,
      your username is: <%= @user.email %>.  If you haven't done so already, we recommend you update your profile with a picture and first/last name to better personalize your experience.
    </p>
    <p>
      We created Trackingspace to better connect you with the status of your commercial properties.  Membership is supported by our sponsors.  While conducting your business on our site, please feel free to visit some of our sponsors.
    <p>
      To login to the site, just follow this link: <%= link_to 'Login', @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>