<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Trackingspace!</h1>
    <p>
      If you haven't done so already, we recommend you update your profile with a picture and first/last name to better personalize your experience.
    </p>
    <p>
      We created Trackingspace to better connect you with opportunities related to commercial properties.  We are not just another listing service.  Rather, we are a way for our members to connect with one another and better identify opportunities as they are timed for your business.
    </p>
    <p>
      At its most basic, if you're a small business owner, you'll find our lease tracking tool exceptional at keeping track of your lease documents and important stats within two easy clicks.  To start, look up your building(s), see if your space is already in our system - if it isn't, simply add it - then add your upload your lease and info.  There.  Done.  Repeat as necessary.
    </p>
    <p>
      Want to see more?  Hook up with a commercial real estate friend that is a "Broker Member" and uncover more actionable information.  They can sponsor you - which will provide you an immediate FREE upgraded membership - a $29/month value.
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Login', @url %>.
    </p>
    <p>We look forward to seeing you around the site.  Feel free to email me directly with any questions.</p>

    <p>Thank you,</p>
    <p>
      <p>David Edkins</p>
      <br/>Owner / Founder
  </body>
</html>