<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Welcome to Trackingspace!</h3>
    <p>
      In order to provide a more personal exerience for others, we recommend you update your profile with a picture (through <a href="www.gravatar.com">Gravatar</a>).
    </p>
    <p>
      We created Trackingspace to better connect you with opportunities related to commercial properties.  We are the non-listing service.  We are a way for our members to connect with one another and better identify opportunities timed for when you need it.
    </p>
    <p>
      With a free basic membership, you have the ability to do many things within our site.  You can add unlimited spaces, add unlimited leases, add unlimited comments, track unlimited number of buildings, follow an unlimited number of people, advertise on two buildings and spaces, sponsor two other people, and share two leases with people.  If you feel you may need more than that, you can always upgrade to more benefits.
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Login', @url %>.
    </p>
    <p>We look forward to seeing you around the site.  Feel free to email me directly with any questions.</p>

    <p>Thank you,</p>
      <p>David Edkins</p>
      <br/>Creator
      <br/>dedkins@trackingspace.com
  </body>
</html>