<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Welcome to Trackingspace!</h3>
    <p>
      If you haven't done so already, we recommend you update your profile with a picture and first/last name to better personalize your experience.
    </p>
    <p>
      We created Trackingspace to better connect you with opportunities related to commercial properties.  We are the non-listing service.  We are a way for our members to connect with one another and better identify opportunities timed for when you need it.
    </p>
    <p>
      If you are a broker, property manager, building owner or anyone else that would want people contacting you to buy, sell or lease space, I would strongly recommend upgrading your membership.  This provides you with additional tools and new features designed to get you more business.  Plus, you can plaster your name on any space or building you want - look it up, grab a blue box and call it yours.
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Login', @url %>.
    </p>
    <p>We look forward to seeing you around the site.  Feel free to email me directly with any questions.</p>

    <p>Thank you,</p>
      <p>David Edkins</p>
      <br/>Creator/Owner/Founder
      <br/>dedkins@trackingspace.com
  </body>
</html>