<h1>Editing space</h1>

<%= render 'form' %>

<%= link_to 'Show', building_space_path %> |
<%= link_to 'Back', building_path %>
<%= link_to 'Delete', building_space_path, confirm: 'Are you sure?', method: :delete %>
