<% currently_at 'myStuff' %>

<hr/>
<div style="text-align:center;text-transform:uppercase"><%= @title %></div>
<hr/>

<% unless @buildings.empty? %>
	<% @buildings.each do |f| %>
		<table width="100%">
			<tr>
				<td>
					<table width="100%">
						<tr>
							<td style="text-transform:uppercase;padding-top:10px;font-size:1.2em">
								<%= link_to f.building.address, building_path(f.building_id) %>
							</td>
							<td style="text-align:right">
								
							</td>
						</tr>
						<tr>
							<td>
								Activity: <%= f.building.microposts.count %>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	<% end %>
<% end %>