<% currently_at 'myStuff' %>

<div class="boxtitle" style="width:200px"><%= @title %></div>

<% unless @spaces.empty? %>
	<% @spaces.each do |f| %>
		<table width="100%">
			<tr>
				<td>
					<table width="100%">
						<tr>
							<td style="text-transform:uppercase;padding-top:10px;font-size:1.2em">
								<%= link_to f.space.building.address, building_space_path(f.space.building_id,f.space.id) %>
							</td>
							<td style="text-align:right">
								
							</td>
						</tr>
						<tr>
							<td>
								Activity: <%= f.space.microposts.count %>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	<% end %>
<% end %>