<% if user_signed_in? %>

	<% if @recent_items.present? %>
	
	<div class="bluebox">

		<div class="boxtitle" style="float:left">recent</div>
		<div style="float:left;text-align:right;font-size:.9em;font-weight:bold;color:#0198E1;padding-left:5px">v = Building has video</div>
		<br/>
		<div style="clear:left"><%= render :partial => 'shared/recent_item', :collection => @recent_items %></div>
	
	</div>
	
	<% end %>
	
<% end %>