<% if user_signed_in? %>

	<% unless @recent_items.empty? %>
		<table width="99%">
			<tr>
				<td class="lists_title">Recently Visited Buildings</td>
			</tr>
			<tr>
				<td><hr/></td>
			</tr>
			<tr>
				<td style="font-size: .8em"><%= render :partial => 'shared/recent_item', :collection => @recent_items %></td>
			</tr>
		</table>
	<% end %>
	
<% end %>