<% if user_signed_in? %>

	<% unless @recent_items.empty? %>
		<table width="100%">
			<tr>
				<td style="text-align:center">Recently Visited Buildings</td>
			</tr>
			<tr>
				<td style="font-size: .8em"><%= render :partial => 'shared/recent_item', :collection => @recent_items %></td>
			</tr>
		</table>
	<% end %>
	
<% end %>