<% if recent_item.building.present? %>
		<table width="100%" >
			<tr>
				<td width="8px">
					<% if recent_item.building.videourl.present? %>
						<div style="font-size:.9em;font-weight:bold;color:#0198E1">v</div>
					<% end %>
				</td>
				<td class="lists_left"><%= link_to truncate(recent_item.building.address, :length => 20, :separator => ',', :omission => ''), building_path(id: recent_item.building_id), :title => "Go to the building detail" %><td>
					<td class="lists_right"><%= recent_item.building.spaces.count %></td>
					<td class="lists_right"><%= recent_item.building.microposts.count %></td>
			</tr>
		</table>
<% end %>