<table width="100%">
  	<tr style="text-align:center">
  		<td style="text-align:center;vertical-align:middle;padding:10px" width="600px">
		  Share this with some of your friends...
		</td>
		<td style="text-align:left">
	  	<%= link_to image_tag("https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png", :size => "30x30", :alt => "Twitter"), "http://twitter.com/home?status=Saw this on Trackingspace: http://#{request.host+request.fullpath}", :target => '_blank' %>
		  	<%= link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png", :size => "30x30"), "http://www.facebook.com/sharer.php?u=http://#{request.host+request.fullpath}", :target => '_blank' %>
	  </td>
	</tr>
</table>
