<table>
	<% @new_users.each do |f| %>
		<tr>
			<td rowspan="2" style="padding:8px"><%= gravatar_image_tag f.email %></td>
			<td style="text-align:left;text-transform:uppercase;font-size:1.5em;padding-top:18px"><%= link_to f.name, user_path(f.id) %></td>
		</tr>
		<tr>
			<td>
				Posts: <%= f.microposts.count %> |
				Member Since: <%= f.created_at.strftime("%b %d, %Y") %>
			</td>
		</tr>
	<% end %>
</table>