<% currently_at 'Home' %>

<div class="title">Stake Your Claim</div>
<hr/>
<hr/>

<table width="90%">
	<tr>
		<td height="15px"/>
	</tr>
	<tr>
		<td style="padding-left:55px">
			Thanks for stopping by.
			<p>
				We are currently in mid-development for this system called TrackingSpace. 
			<p>
				We are providing an opportunity for "early adopters" to stake their claim.  While the system will be free for most users, those that want to market themselves, get more insight, have direct connection, etc...will have the option for a premium membership.
			<p>
				One of the features of premium membership is unlimited advertising on any building and space in the system.  It is currently in a basic text form - however, in the future, we will integrate graphic options for our members.  The good news is regardless of how it looks now - once you have associated your name with the advertising slot for that building or space, it will stay associated indefinitely - until you decide to remove it.  This means, if you represent a building or space (exclusive listing), put your name on it.  If you are a tenant rep and don't have listings, put your name on it as an option to get more information.  If you manage a property, let others know; if you don't and would like to advertise your ability to manage properties, put an ad for that.  You get the picture right?
			<p>
				The opportunity is now - once the slots are filled, there are no more.  I figure a handful of tenacious early adopters could really saturate most markets out there.  Don't let it be the other guy.
			<p>
				But first things first, you have to become a member, then upgrade.  
			<p>
				<%= link_to 'Click Here to Become a Member', new_user_registration_path %>
			<p>
				We look forward to having you onboard and tracking your success.
			<p>
				Warm Regards,
			<p><p>
				David Edkins
				<br/>Creator
				<br/>TrackingSpace
		</td>
	</tr>
</table>
