<% currently_at 'People' %>

<%= content_for :search do %>
	<%= form_tag do %>
		<%=text_field_tag 'name', '', :autocomplete => autocomplete_user_name_users_path %>
	  	<%=submit_tag "Submit" %>
	<% end %>
<% end %>

<div class="title">People</div>

<% if user_signed_in? %>
<h3>People Feed</h3>
	<p>
		Once a member and you've selected other spaces to track, this area would show a list of recent communications/posts related to the spaces you're tracking...kind of like a Twitter feed.  Looks like you've got to start looking for some people...
	</p>
<% else %>
	<h3>People Feed</h3>
	<p>
		Once a member and you've selected other spaces to track, this area would show a list of recent communications/posts related to the spaces you're tracking...kind of like a Twitter feed.
	</p>
<% end %>