<% currently_at 'Spaces' %>

<div class="title">my leases</div>
<% if user_signed_in? %>
	<%= render 'leases/leases' %>
	<hr/>
	<div class="title">Spaces Activity</div>
	<hr/>
	<p>
		Once you start tracking spaces, this area would show a list of recent communications/posts related to those spaces...kind of like a Twitter feed.
	</p>
<% else %>
	<p>
		This is where you would keep track of your lease(s).  From here you would be able to view or download the actual lease copy and/or update the particulars of your lease.  If you haven't become a member yet, <%= link_to 'click here', new_user_registration_path %>, otherwise <%= link_to 'sign-in', new_user_session_path %> to start tracking your space(s).
	<p>
	<hr/>
	
<% end %>

<% content_for :sidebar do %>

<table width="100%">
	<tr height="50px">
		<td style="text-align:center">
			<%= link_to 'Add a New Lease', new_building_path, :class => "add" %>
		</td>
	</tr>
</table>

<% end %>


