<%= currently_at 'myStuff' %>

	<div class="boxtitle" style="width:98%;margin-top:10px">
		Upgrade to benefits
	</div>

	<div class="bluebox" style="background:width:180px;float:left;margin:10px;padding:10px">
	<div class="boxtitle" style="background:#0198E1">
		$5.00
	</div>
	<div class="title" style="margin-top:10px" >
		Fiver
	</div>
	<div style="padding:10px">
			<li>Add + Edit Space</li>
			<li>Add + Edit Leases</li>
			<li>Add Comments</li>
			<li>Track Buildings</li>
			<li>Follow People</li>
			<li>Additional Profile Info</li>
			<li>5 Free Building Ads</li>
			<li>5 Free Space Ads</li>
			<li>Sponsor 5 Free</li>
			<li>Share 5 Leases Free</li>
	</div>
	<div style="text-align:center;padding-bottom:20px">
		<%= button_to 'I Want This One', upgrade5_path, :class => 'button' %>
	</div>
</div>
<div class="bluebox" style="width:180px;float:left;margin:10px;padding:10px">
	<div class="boxtitle" style="background:#0198E1">
		$29.95
	</div>
	<div class="title" style="margin-top:10px">
		Turning 30
	</div>
	<div style="padding:10px">
			<li>Add + Edit Space</li>
			<li>Add + Edit Leases</li>
			<li>Add Comments</li>
			<li>Track Buildings</li>
			<li>Follow People</li>
			<li>Additional Profile Info</li>
			<li>Unlimited Building Ads</li>
			<li>Unlimited Space Ads</li>
			<li>Sponsor 30 Free</li>
			<li>Share 30 Leases Free</li>
	</div>
	<div style="text-align:center;padding-bottom:20px">
		<%= button_to 'I Want This One', upgrade30_path, :class => 'button' %>
	</div>
</div>
<div class="bluebox" style="width:180px;float:left;margin:10px;padding:10px">
	<div class="boxtitle" style="background:#0198E1">
		$99.95
	</div>
	<div class="title" style="margin-top:10px">
		The Works
	</div>
	<div style="padding:10px">
			<li>Add + Edit Space</li>
			<li>Add + Edit Leases</li>
			<li>Add Comments</li>
			<li>Track Buildings</li>
			<li>Follow People</li>
			<li>Additional Profile Info</li>
			<li>Unlimited Building Ads</li>
			<li>Unlimited Space Ads</li>
			<li>Unlimited Sponsoring</li>
			<li>Share Unlimited Leases</li>
			<li>Tour Lists (f)</li>
			<li>Recommendations (f)</li>

	</div>
	<div style="text-align:center;padding-bottom:20px">
		<%= button_to 'I Want This One', upgrade100_path, :class => 'button' %>
	</div>
</div>
<div style="clear:left"/>
