<div style="float:left;color:#666666" id="building_stats">
	<%= @building.address %>  | 
	<%= @building.building_relationships.count %> Tracking | 
	<%= link_to "Edit Details", edit_building_path(@building) %>
</div>
		