<% if @building.videourl != '' and @building.videourl != nil %>
	<%= render 'videoview' %>
<% else %>
	<div style="width:100%">
		<%= gmaps({
		  "map_options" => {"auto_zoom" => false, "zoom" => 18, "type" => 'SATELLITE' },
		  "markers" => {"data" => @json }
		})
		%>
	</div>
<% end %>