<table width="100%">
		<tr>
			<td>
				<%= form_for Building.new do |f| %>
				  	<%= f.error_messages %>
				    <%= f.text_field :address, :class => "search", :id => "addresspicker_map", :placeholder => 'Find A Building By Address...'%>
			</td>
			<td width="80px">
				    <%= f.submit "GO!", :class => 'button' %>
				    <%= f.hidden_field :latitude, :id => "lat" %>
				    <%= f.hidden_field :longitude, :id => "lng" %>
				      <% if user_signed_in? %>
				      <%= f.hidden_field :user_id, :value => current_user.id %>
				      <% end %>
				<% end %>
			</td>
		</tr>
	</table>

