	
		<table width="100%">
			
			<tr>
				<td style="text-align:center">Active Buildings</td>
			</tr>
			<tr>
				<td><hr/></td>
			</tr>
			<% @newbuildings.each do |b| %>
			<tr>
				<td style="font-size: .8em;text-transform:uppercase"><%= link_to truncate(b.address, :size => 20, :separator => ',', :omission => ''), building_path(b.id) %></td>
			</tr>
			<% end %>
		</table>
	