<% if @spaces %>
<table>
  <tr>
    <th>Sf</th>
    <th>Rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spaces.each do |space| %>
  <tr>
    <td><%= space.sf %></td>
    <td><%= space.rate %></td>
    <td><%= link_to 'Show', building_space_path(@building,space) %></td>
  </tr>
<% end %>
</table>
<% else %>
No Spaces
<% end %>