<% if @spaces.any? %>

<div id="spacesbox">
  <div class="spacestitle">
    S P A C E S
  </div>
  <div class="spacestable">
<table>

<% @spaces.each do |space| %>
  <tr>
    <td align=left width=60px><%= link_to space.suite, building_space_path(@building,space) %></td>
    <% if space.company? %>
    <td align=left><%= space.company %></td>
    <% end %>
    <% unless space.company? %>
    <td align=left>Company?</td>
    <% end %>
  </tr>
<% end %>
</table>
</div>
</div>

<table>
  <tr>
    <p></p>
    <%= link_to 'Add New Space', new_building_space_path(@building) %>
  
  <% else %>
    Looks like we need to add some spaces!
  <br/>
  <%= link_to 'Add New Space', new_building_space_path(@building) %>
  </tr>
<% end %>