
	<object data='<%= @lease.file.url %>' width="600px" height="100%">
<p>
  It appears your Web browser is not configured to display PDF files. 
  No worries, just <%= link_to 'click here to download the PDF file.', @lease.file.url %>
</p>
</object>