<% currently_at 'Places' %>

<div class="bluebox">
<div class="boxtitle" style="width:300px">New lease</div>
<div class="title" style="margin:20px"><%= @space.building.address %>, Suite <%= @space.suite %></div>

<%= render 'form' %>

</div>
