<% currently_at 'Spaces' %>

<div class="title">-  New lease  -</div>
<div style="font-size:.9em;text-align:center"><%= @space.building.address %>, Suite <%= @space.suite %></div>

<%= render 'form' %>

