html {
  background: url(/assets/SanDiegoSkyline.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}


body {
  background:transparent;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.container {
  position: absolute;
  height: 100%;
  width: 98%;
  margin: 60px 0px 20px 0px;
  z-index: 5;
}

header#top {
  position: fixed;
  width: 100%;
  z-index: 9999;
  color: #fff;
  margin: -8px 0px 0px -8px;
  font-size: 1em;
  background: #4c4c4c;
  height: 50px;
}

.top{}
  a.top:link {color: #C3E4ED;}
  a.top:visited { color: #C3E4ED;}
  a.top:hover {text-decoration: underline;}

.title{}
  a.title:link {color: #C3E4ED;}
  a.title:visited { color: #C3E4ED;}
  a.title:hover {text-decoration: underline;}


  nav#utility {
    float:right;
    padding-right: 40px;
    font-size: .8em;
    margin-bottom: 20px;
  }


/*header#content_title {
  position: fixed;
  width: 100%;
  margin: auto;
  padding: 8px 0 0 40px;
  color: #666;
  height: 35px;
  background: #fff;
  border: 1px solid #666;
  font-size: 1.3em;
  z-index: 9998;
  box-shadow: 0px 5px 10px #888;
}*/


section#content {
  margin-left: 320px;
  margin-right: 300px;
  background: #fff;
  padding: 20px;
}

a {
    text-decoration: none;
  }
    a:link,
    a:active,
    a:visited {
    color: #666;
    text-decoration: none;
  }
  a:hover {
      color:red;
    }

section#left {
  padding: 20px;
  float: left;
  width: 260px;
  background-color: #edeae6;
  color:#666;
}

section#sidebar {
  padding: 10px;
  float: right;
  width: 260px;
  background-color: #edeae6;
  color:#666;
  font: {
    size: 0.8em;
    weight: normal;
  }
}

/*.pagetitle {
  background: black;
  color: #fff;
  width: 120%;
  margin: -10px 0 10px -40px;
  height: 35px;
  box-shadow: 5px 5px 5px #888;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 0 0 25px;
}*/

#name {
  margin-top: 5px;
  font-size: 0.9em;
  font-weight: bold;
  color:#3B6AA0;
}
#name a{color:#3B6AA0;text-decoration:none;}
#name a:visited{color:#3B6AA0;text-decoration:none;}
#name a:hover{color:red;background:#fff;text-decoration:none;}

#building {
  font-size: 0.8em;
  font-weight:bold;
  color:#666;
  line-height:1.2;
}
#building a{color:#666;text-decoration:none;}
#building a:visited{color:#666;text-decoration:none;}
#building a:hover{color:red;background:#fff;text-decoration:none;}

#post {
  margin-top: 5px;
  font-size: 0.9em;
  font-weight:bold;
}

footer#page_footer {
  color: black;
  height: 120px;
  padding: 10px 20px;
  margin: 10px auto auto auto;
  background-color:#ffffff;
  ul {
    margin-left: -10px;
    padding: 0;
      
      li {
        border-right: 1px solid #fef8e7;
        display: inline;
        margin: 0;
        &:last-child {
          border-right: none;
      }
      a {
        padding: 5px 10px;
        &:link,
        &:hover,
        &:visited,
        &:active {
          color: black;      
        }
      }
    }
  }
}
  .ui-autocomplete-input, .input input {
  background: white;
  border: none; 
  font-size: 14px;
  width: 300px;
  height: 24px;
  margin-bottom: 5px;
  padding-top: 2px;
}

.ui-autocomplete-input {
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
}

.ui-menu .ui-menu-item a {
  font-size: 12px;
}

#searchcontainer {
  height:25px;
  width:350px;
}
.search {
  position: relative;
  padding-left:8px;
  float: left;
  height:20px;
  width:300px;
  border-radius: 5px 0px 0px 5px;
  -moz-box-shadow: inset 0 0 1px 1px #888;
  -webkit-box-shadow: inset 0 0 1px 1px#888;
  box-shadow: inset 0 0 1px 1px #888;
}
.searchgo {
  position: absolute;
  height:22px;
  width:40px;
  border-radius: 0px 5px 5px 0px;
  margin-left:5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#608341)) no-repeat;
  color:#3D3D3D;
  font-weight:bold;
}

.clear {
  clear: both;
}

.value {
  margin: auto;
  padding: 10px;
  height: 20px;
  width: 140px;
  font-size: 1.25em;
  text-shadow: 1px 1px 2px #fff;
  color:green;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #888;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e0e0e0');
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0)) no-repeat;
    background: -moz-linear-gradient(top, #fff, #e0e0e0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .value:hover,
  .value:active,
  .value:visited {
    text-decoration: none;
    }

.bad {
  margin: auto;
  padding: 10px;
  height: 20px;
  width: 100px;
  font-size: 1.25em;
  text-shadow: 1px 1px 2px #000;
  color:#fff;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #888;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='red');
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(red)) no-repeat;
    background: -moz-linear-gradient(top, #f0f0f0, red);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .bad:hover,
  .bad:active,
  .bad:visited {
    text-decoration: none;
    }

.good {
  margin: auto;
  padding: 10px;
  height: 20px;
  width: 100px;
  font-size: 1.25em;
  text-shadow: 1px 1px 2px #000;
  color:#fff;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #888;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='green');
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(green)) no-repeat;
    background: -moz-linear-gradient(top, #f0f0f0, green);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .good:hover,
  .good:active,
  .good:visited {
    text-decoration: none;
    }

.add {
  color: #000;
  padding: 10px;
  height: 20px;
  width: 150px;
  font-size: 1.25em;
  text-shadow: 1px 1px 2px #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #888;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#3B6AA0');
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#3B6AA0)) no-repeat;
    background: -moz-linear-gradient(top, #f0f0f0, #3B6AA0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .add:hover,
  .add:active,
  .add:visited {
    text-decoration: none;
    }

.view {
  padding: 5px;
  height: 20px;
  width: 20px;
  font-size: .7em;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #888;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#888');
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#888)) no-repeat;
    background: -moz-linear-gradient(top, #f0f0f0, #888);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .view:hover,
  .view:active,
  .view:visited {
    color: red;
    text-decoration: none;
    }

}
