@media screen and (max-width: 1250px){
	section#left {
		width: 15%;
		min-width: 100px;
	}
	section#content {
		margin-left: 20%;
	}
}

@media screen and (max-width: 1124px){
	section#left {
		display: none;
	}
	section#content {
		margin-left: 10px;
	}
}

@media screen and (max-width: 900px){
	body { 
		font-size: 1.1em;
	}
	header#top {
		height: 70px;
		padding-top: 10px;
	}
	section#sidebar {
		display:none;
	}
	.container {
		width: 95%;
	}
	section#content {
		width: 95%;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	body { 
		font-size: 1.5em;
	}
	header#top {
		height: 80px;
	}
	section#content {
		width: 95%;
	}
	section#sidebar {
		display:none;
	}
}