@media screen and (max-width: 1650px){
	section#left {
		width: 17%;
		min-width: 100px;
	}
	section#content {
		margin-left: 20%;
	}
}

@media screen and (max-width: 1124px){
	section#left {
		display: none;
	}
	section#content {
		margin-left: 10px;
	}
}

@media screen and (max-width: 960px){
	body { 
		font-size: 1.2em;
	}
	header#top {
		height: 70px;
		padding-top: 10px;
	}
	section#sidebar {
		display:none;
	}
	.container {
		width: 93%;
		margin-top: 80px;
	}
	section#content {
		width: 95%;
	}
	#name {
		font-size: 1.2em;
		line-height: 1.2em;
	}
	#building {
		font-size: 1.2em;
		line-height: 1.2em;
	}
	#post {
		font-size: 1.2em;
		line-height: 1.2em;
	}
	nav#utility {
		display: none;
	}

}

@media only screen and (max-width: 768px) and (orientation: landscape){
	section#left {
		display: none;
	}
	section#content {
		margin-left: 10px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	body { 
		font-size: 1.5em;
	}
	header#top {
		height: 80px;
	}
	section#content {
		width: 95%;
	}
	section#sidebar {
		display:none;
	}
}