html {
  background: url(/assets/SanDiegoSkyline.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  }
body {
  background:transparent;
  font-size:1em;
}
header#page_header{
  height:100px;
  color: #fff;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px;
  width: 700px;
  a,
  a:link,
  a:hover {
    color: orange;
  }
  a:active,
  a:visited {
    color: white;
    text-decoration: none;
  }
  nav#utility {
    float:right;
    font-size: 1em;
  }
}
.container {
  position: relative;
  width: 97%;
  height:100%;
  overflow: hidden;
  padding: 0 20px;
  margin-left: -10px;
}
section#content {
  padding: 30px;
  float:left;
  width: 95%;
  background: #fff;
  margin-top: 10px;
}
.greenbutton {
  position: relative;
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#608341)) no-repeat;
  color:white;
  border-radius:8px;
  border:2px solid black;
  text-align:center;
  padding:20px;
  font-size:20px;
  font-weight:bold;
  margin: 15px;
}
.greenbutton a{color:black;text-decoration:none;}
.greenbutton a:visited{color:black;text-decoration:none;}
.greenbutton a:hover{color:black;text-decoration:none;}

.textfield {
  font-size:200%;
  font-weight:bold;
  height:300px;
  width:500px;
}
.bigsubmit {
  background-color: #608341;
  color:white;
  height:60px;
  width:200px;
  border-radius:8px;
  border:2px solid black;
  text-align:center;
  padding-top:8px;
  font-size:20px;
  font-weight:bold;
  margin:20px 20px 20px 0px;
}
.bigsubmit a{color:white;text-decoration:none;}
.bigsubmit a:visited{color:white;text-decoration:none;}
.bigsubmit a:hover{color:white;text-decoration:none;}

#announcement {
  background-color: #608341;
  color:white;
  height:45px;
  width:95%;
  border-radius:5px;
  border:3px solid black;
  text-align:center;
  padding-top:20px;
  font-size:200%;
  font-weight:bold;
  margin:20px;
}
#announcement a{color:white;text-decoration:none;}
#announcement a:visited{color:white;text-decoration:none;}
#announcement a:hover{color:white;text-decoration:none;}

#greenwhite {
  border-radius:5px;
  height:30px;
  width:30px;
  background-color: #608341;
  color:white;
  font-weight:bold;
  font-size:1.2em;
  text-align:center;
  padding-top:12px;
}
#building_mobile {
  font-size:1.3em;
  vertical-align: middle;
  font-weight:bold;
  color:#608341;
  line-height:2;
}
#building_mobile a{color:#608341;text-decoration:none;}
#building_mobile a:visited{color:#B13E0F;text-decoration:none;}
#building_mobile a:hover{color:gray;background:#fff;text-decoration:none;}

#name {
  font-size:120%;
  font-weight:bold;
  color:#608341;
  margin-bottom:8px;
}
#name a{color:#608341;text-decoration:none;}
#name a:visited{color:#B13E0F;text-decoration:none;}
#name a:hover{color:gray;background:#fff;text-decoration:none;}

#building {
  font-size:120%;
  font-weight:bold;
  color:#608341;
  line-height:1.4;
}
#building a{color:#608341;text-decoration:none;}
#building a:visited{color:#B13E0F;text-decoration:none;}
#building a:hover{color:gray;background:#fff;text-decoration:none;}

#post {
  color:#000;
  font-size:150%;
  line-height:1.25;
  font-weight:bold;
}
#lookup {
  position: relative;
  float:left;
}

#mobile_header {
  margin-left:20px;
  height:30px;
  width:100%;
  background: transparent;
  font-size:225%;
  color:white;
  font-family:orbitron;
}

#top {
  margin-top:20px;
  margin-left:20px;
}

#user_selection {
  clear:both;
  position: relative;
  float: left;
  margin-left:10px;
  padding: 10px;
  color: #EE4000;
}

#user_selection a{color:#fff}
#user_selection a:visited{color:#fff}
#user_selection a:hover{color:#fff}
footer{
  margin:auto;
}
#footerlinks {
  font-size:150%;
  padding: 20px;
  color: #000;
}

#footerlinks a{color:#000}
#footerlinks a:visited{color:#000}
#footerlinks a:hover{color:#000}

.field {
  line-height: 1.5;
}
.field input {
  font-size:24px;
  border-radius:5px;
  border:2px solid black;
  box-shadow: 5px 5px 5px #888;
  padding:10px;
}

.yield_container {
  width:100%;
  height:100%;
  background-color: #fff;
}
#yield {
  width:90%;
  border-radius:10px;
  background-color: #fff;
  margin: 200px auto 10px auto;
}
.clear {
  clear: both;
}

  #container {
    width: 90%;
    min-width: none;
    margin: 0 auto;
    background: transparent;
    padding: 0;
    border: 5px solid orange;
    margin-top: 20px;
  }

.map {
  position: relative;
  float: left;
  margin: auto;
  width:98%;
  height:100%;
}
.info {
  position: relative;
  float: left;
  width:100%;
  border-radius: 10px;
  border: 1px solid black;
}
.buttons {
  clear: both;
  position: relative;
  margin:auto;
}
.feed {
  clear: both;
  position: relative;
  float: left;
  width:96%;
  border-radius: 10px;
  border: 2px dashed black;
  padding:20px;
}