html {
  background: -webkit-gradient(linear, left top, left bottom, from(#3D3D3D), to(#fff)) no-repeat;
  }
body {
  background:transparent;
  font-size:18px;
}
.greenbutton {
  position: relative;
  float: left;
  background-color: #608341;
  color:white;
  border-radius:8px;
  border:2px solid black;
  text-align:center;
  padding:20px;
  font-size:20px;
  font-weight:bold;
  margin: 15px;
}
.greenbutton a{color:white;text-decoration:none;}
.greenbutton a:visited{color:white;text-decoration:none;}
.greenbutton a:hover{color:white;text-decoration:none;}

.textfield {
  font-size:200%;
  font-weight:bold;
  height:300px;
  width:500px;
}
.bigsubmit {
  background-color: #608341;
  color:white;
  height:60px;
  width:200px;
  border-radius:8px;
  border:2px solid black;
  text-align:center;
  padding-top:8px;
  font-size:20px;
  font-weight:bold;
  margin:20px 20px 20px 0px;
}
.bigsubmit a{color:white;text-decoration:none;}
.bigsubmit a:visited{color:white;text-decoration:none;}
.bigsubmit a:hover{color:white;text-decoration:none;}

#announcement {
  background-color: #608341;
  color:white;
  height:45px;
  width:95%;
  border-radius:5px;
  border:3px solid black;
  text-align:center;
  padding-top:20px;
  font-size:200%;
  font-weight:bold;
  margin:20px;
}
#announcement a{color:white;text-decoration:none;}
#announcement a:visited{color:white;text-decoration:none;}
#announcement a:hover{color:white;text-decoration:none;}

.field {
  font-size:200%;
  height:500%;
  width:500%;
}
.inputfield {
  height:100px;
  width:400px;
}
#greenwhite {
  border-radius:5px;
  height:40px;
  width:40px;
  background-color: #608341;
  color:white;
  font-weight:bold;
  font-size:25px;
  text-align:center;
  padding-top:12px;
}
#building_mobile {
  font-size:25px;
  vertical-align: middle;
  font-weight:bold;
  color:#608341;
  line-height:2;
}
#building_mobile a{color:#608341;text-decoration:none;}
#building_mobile a:visited{color:#B13E0F;text-decoration:none;}
#building_mobile a:hover{color:gray;background:#fff;text-decoration:none;}

#name {
  font-size:150%;
  font-weight:bold;
  color:#608341;
}
#name a{color:#608341;text-decoration:none;}
#name a:visited{color:#B13E0F;text-decoration:none;}
#name a:hover{color:gray;background:#fff;text-decoration:none;}

#building {
  font-size:170%;
  font-weight:bold;
  color:#608341;
  line-height:1.4;
}
#building a{color:#608341;text-decoration:none;}
#building a:visited{color:#B13E0F;text-decoration:none;}
#building a:hover{color:gray;background:#fff;text-decoration:none;}

#post {
  color:#000;
  font-size:220%;
  line-height:1.25;
  font-weight:bold;
}
#lookup {
  position: relative;
  float:left;
}

#mobile_header {
  margin-left:20px;
  height:30px;
  width:100%;
  background: transparent;
  font-size:350%;
  color:white;
  font-family:orbitron;
}

#top {
  margin-top:20px;
  margin-left:20px;
}

#user_selection {
  clear:both;
  position: relative;
  float: left;
  margin-left:10px;
  padding: 10px;
  color: #EE4000;
}

#user_selection a{color:#fff}
#user_selection a:visited{color:#fff}
#user_selection a:hover{color:#fff}
footer{
  margin:auto;
}
#footerlinks {
  font-size:150%;
  padding: 20px;
  color: #000;
}

#footerlinks a{color:#000}
#footerlinks a:visited{color:#000}
#footerlinks a:hover{color:#000}

.field {
  line-height: 1.5;
}
.field input {
  font-size:24px;
  border-radius:5px;
  border:2px solid black;
  box-shadow: 5px 5px 5px #888;
  padding:10px;
}

.yield_container {
  width:100%;
  height:100%;
  background-color: #fff;
}
#yield {
  width:90%;
  border-radius:10px;
  background-color: #fff;
  margin: 100px auto 10px auto;
}
#yieldtitle {
  border-radius: 10px 10px 0px 0px;
  background:#608341;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=8);
  height:25px;
  width:100%;
  padding:25px;
  font-size:24px;
  font-weight:bold;
  color:white;
}
.clear {
  clear: both;
}

  #container {
    width: 90%;
    min-width: none;
    margin: 0 auto;
    background: transparent;
    padding: 0;
    border: 5px solid orange;
    margin-top: 20px;
  }

#searchcontainer {
  margin-left:20px;
  height:60px;
  width:700px;
}
.search {
  position: relative;
  font-size:25px;
  padding-left:15px;
  float: left;
  height:55px;
  width:600px;
  border-radius: 20px 0px 0px 20px;
  -moz-box-shadow: inset 0 0 2px 2px #888;
  -webkit-box-shadow: inset 0 0 2px 2px#888;
  box-shadow: inset 0 0 2px 2px #888;
  font-family:arial;
}
.searchgo {
  position: absolute;
  font-size:25px;
  height:58px;
  width:70px;
  border-radius: 0px 20px 20px 0px;
  margin-left:5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#608341)) no-repeat;
  color:#3D3D3D;
  font-weight:bold;
}

.map {
  position: relative;
  float: left;
  margin: 30px auto 0px auto;
  width:100%;
  height:100%;
}
.info {
  position: relative;
  float: left;
  width:100%;
  border-radius: 10px;
  border: 1px solid black;
}
.buttons {
  position: relative;
  float:left;
  padding: 10px;
  margin: auto;
}
.feed {
  clear: both;
  position: relative;
  float: left;
  width:96%;
  border-radius: 10px;
  border: 1px solid black;
  padding:20px;
}