nav#main_nav {
	postion: absolute;
	float:left;
	right: 0;
	li {
		color: #fff;
		display: inline-block;
		margin: -8px 1px 1px 1px;
		padding: 8px 15px;
		a, a:link, a:visited {
			color: #fff;
			font-size: 1.5em;
			text-decoration: none;	
		}
		&.active {
			color: #fff;
			padding: 8px 20px;
			border-bottom: 5px solid #fff;
			a,
			a:link,
			a:visited {
				color: #fff;
			}	
		}
	}
}
nav#mobile_nav {
	position:absolute;
	float:left;
	font-size: 1.6em;
	li {
		display: inline-block;
		margin: -10px 1px 0px 1px;
		padding: 5px 18px;
		a, a:link, a:visited {
			color: #fff;
			text-decoration: none;	
		}
		&.active {
			color: #fff;
			padding-bottom: 15px;
			border-bottom: 5px solid #fff;
			a,
			a:link,
			a:visited {
			}	
		}
	}
}
