nav#main_nav {
	postion: absolute;
	float:left;
	right: 0;
	li {
		background: #3B6AA0;
		color: #fff;
		display: inline-block;
		margin: -8px 1px 1px 1px;
		padding: 8px 15px;
		a, a:link, a:visited {
			color: #fff;
			font-size: 1.5em;
			text-decoration: none;	
		}
		&.active {
			background: #666;
			color: #fff;
			padding: 8px 20px;
			a,
			a:link,
			a:visited {
				color: #fff;
			}	
		}
	}
}
nav#mobile_nav {
	position:absolute;
	float:left;
	top: 70px;
	font-size: 1.5em;
	li {
		background: #865140;
		display: inline-block;
		margin: 10px 1px 0px 1px;
		padding: 12px 18px;
		a, a:link, a:visited {
			color: #fff;
			text-decoration: none;	
		}
		&.active {
			background: #fff;
			padding-bottom: 20px;
			a,
			a:link,
			a:visited {
				color: #555;
				font-weight: bold;
			}	
		}
	}
}
