section#sidebar {
	background-color: #edeae6;
	color:#666;
	margin: 10px;
	font: {
		size: 0.8em;
		weight: normal;
	}
	line-height: 1.3em;
	padding: 10px;
	a,
	a:link,
	a:visited {
		color:#666;
		text-decoration: underline;
	}

	a:hover,
	a:active {
		color: #bc47ld;
	}

	section {
	}

	#functional_nav {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}

	#recent_activity {
		header {
			background-color: #bc47ld;
			border-bottom: 5px solid #807c77;
			margin: 10px -10px;
			padding: 5px 10px 0 10px;
			h1#recent {
				background: red;
				margin: 5px 0 0 0;
				padding: 0;
				text-indent: -999px;
			}
		}
	}
}
