@import url(http://fonts.googleapis.com/css?family=Orbitron);

html {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D3D3D', endColorstr='#fff');
    background: -webkit-gradient(linear, left top, left bottom, from(#3D3D3D), to(#fff)) no-repeat;
    background: -moz-linear-gradient(top, #3D3D3D, white);
}
body {
  background:transparent;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #EE4000;
    background-color: #000; }
}
input {
  border:1px solid black;
}

#name {
  font-size:110%;
  font-weight:bold;
  color:##608341;
}
#name a{color:#608341;text-decoration:none;}
#name a:visited{color:#B13E0F;text-decoration:none;}
#name a:hover{color:gray;background:#fff;text-decoration:none;}

#building {
  font-size:110%;
  font-weight:bold;
  color:#608341;
  line-height:1.4;
}
#building a{color:#608341;text-decoration:none;}
#building a:visited{color:#B13E0F;text-decoration:none;}
#building a:hover{color:gray;background:#fff;text-decoration:none;}

#post {
  font-size:125%;
  font-weight:bold;
}

#logoIcon {
  position:relative;
  padding: 5px;
  float: left;
}
#logo {
  position: relative;
  margin: 0 0 10px 10px;
  padding: 5px 0 5px 0;
  float:left;
  width:300px;
  height:50px;
}

#logo a{
  color:#fff;
  font-size: 30px;
  font-weight: bold;
  font-family: Orbitron, sans-serif;
}

#lookup {
  position: relative;
  margin: 0px 0 10px 0;
}

#user_nav {
  position: relative;
  float: right;
  padding: 5px;
  color: #608341;
  text-align: right;
}

#user_nav a{color:#fff}
#user_nav a:visited{color:#fff}
#user_nav a:hover{color:#fff}

#under_nav {
  position: relative;
  float:right;
  margin-top:40px;
}

#header {
  width:900px;
  margin:auto;
  height:60px;
  margin-top:10px;
  background:transparent;
}
.yield_container {
  width:100%;
  height:100%;
  background-color: #fff;
}
#yield {
  border-radius:10px;
  padding: 10px 30px 20px 20px;
  width:900px;
  background-color: #fff;
  margin: 10px auto 10px auto;
}
#buildingTitle {
  font-size:20px;
  font-weight:bold;
  padding: 5px;
}
#header_lower_right {
  float:right;
}

code {
  background-color: ghostWhite;
  border: 1px solid #DEDEDE;
  color: #444;
  padding: 0 3px;
}

.ui-autocomplete-input, .input input {
  background: white;
  border: none; 
  font-size: 14px;
  width: 300px;
  height: 24px;
  margin-bottom: 5px;
  padding-top: 2px;
}

.ui-autocomplete-input {
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
}

.ui-menu .ui-menu-item a {
  font-size: 12px;
}

======

#yieldcontainer {
  clear:both;
  border-radius:10px;
  padding: 20px;
  width:900px;
  height:100%;
  background-color: #fff;
  margin: 10px auto 10px auto;
}
.contact_bar {
  clear: both;
  position:relative;
  float: left;
  margin-left:auto;
  margin-right:auto;
  padding:5px;
  width:100.5%;
  height:65px;
  background:#3D3D3D;
}
.info_box_title {
  position: relative;
  float: left;
  width:24.5%;
  height:20px;
  padding-bottom:5px;
  border:1px solid #3D3D3D;
  text-align:center;
  background:#3D3D3D;
  color:white;
}
.info_box {
  position: relative;
  float: left;
  width:23.1%;
  height:20px;
  padding:8px;
  border:1px solid #F0F0F0;
  text-align:center;
  background-color: #F0F0F0;
}
.contact_box_title {
  position: relative;
  float: left;
  width:24.5%;
  height:20px;
  padding-bottom:5px;
  border:1px solid #3D3D3D;
  text-align:center;
  background:#3D3D3D;
  color:white;
}
.contact_box {
  position: relative;
  float: left;
  width:23.1%;
  height:20px;
  padding:8px;
  border:1px solid #F0F0F0;
  text-align:center;
  background-color: #F0F0F0;
}
#left {
  position: relative;
  float: left;
  width:550px;
  border:1px solid black;
}
#right {
  position: relative;
  float: right;
}
#yieldtitle {
  border-radius: 10px 10px 0px 0px;
  background:#608341;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=8);
  height:20px;
  width:103.5%;
  margin-left:-20px;
  margin-top:-10px;
  padding:10px;
  font-size:14px;
  font-weight:bold;
  color:white;
}
#avgrate {
  position: absolute;
  margin-top:-30px;
  margin-left:600px;
  float:right;
  height:40px;
  width:80px;
  background:white;
  box-shadow: 5px 5px 5px 0 #888;
}
#searchcontainer {
  height:30px;
  width:350px;
}
.search {
  position: relative;
  padding-left:8px;
  float: left;
  height:25px;
  width:300px;
  border-radius: 10px 0px 0px 10px;
  -moz-box-shadow: inset 0 0 1px 1px #888;
  -webkit-box-shadow: inset 0 0 1px 1px#888;
  box-shadow: inset 0 0 1px 1px #888;
}
.searchgo {
  position: absolute;
  height:28px;
  width:40px;
  border-radius: 0px 10px 10px 0px;
  margin-left:5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#608341)) no-repeat;
  color:#3D3D3D;
  font-weight:bold;
}

.spacesbox {
  width:290px;
  border:1px solid #3D3D3D;
  position: relative;
  float: right;
  margin-top:20px auto 20px auto;
  box-shadow:5px 5px 5px 0 #888;
}
.spacestitle {
  padding-top:5px;
  font-weight:bold;
  font-size:14px;
  position: position: relative;
  float: left;
  width:100%;
  height:20px;
  background: #3D3D3D;
  color:white;
  text-align:center;
}
.spacestable {
  padding-top:20px;
  padding:10px;
  font-size:14px;
  font-weight:bold;
}
.spacestable-row {
  display: table-row;
}
.spacestable-col {
  display:table-cell;
  padding:5px;
}
.map {
  position: relative;
  float: left;
  width:100%;
  height:100%;
}
.feed_heading {
  clear:both;
  margin-top:20px;
  padding:10px;
  font-size:20px;
  color:#707070;
}
.feed {
  position: relative;
  float: left;
  padding:20px;
  width:500px;
  margin: 10px 0px 10px 0px;
  border-radius: 8px;
  border: 1px dashed #707070;
  background-color: #F0F0F0;
}
.right {
  position: relative;
  float: right;
  width:280px;
  padding:20px;
}
.clear {
  clear: both;
}