<table width="100%">
			
	<div >
		<tr>
			<td class="listbox_title">New Buildings</td>
		</tr>
	</div>

	<% @allnewbuildings.each do |b| %>
	<tr>
		<td style="font-size:.9em"><%= link_to truncate(b.address, :size => 20, :separator => ',', :omission => ''), b %></td>
	</tr>
	<% end %>
</table>