<footer id="page_footer">
	<ul style="text-align:center">
		<li><%= link_to "Privacy Policy", "" %></li>
		<li><%= link_to "Help", "" %></li>
	</ul>
	<p style="text-align:center">&copy 2012 The Edkins Group<br/>All Rights Reserved</p>
	<p style="text-align:center">TrackingSpace Beta v0.5</p>
</footer>