<!DOCTYPE html>

<html>
<head>
  <meta charset='uta-8'>
  <title>Trackingspace</title>

</head>
<body>
  <%= render 'layouts/header' %>

    <% flash.each do |name, msg| %>
      <% content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

  <div class="container">
    <section id="content">
      <%= yield %>
    </section>
    <section id="sidebar">
      <%= yield :sidebar %>
    </section>
    <div class="clear"></div>
  </div>    
  
  <%= render 'layouts/footer' %>

</body>
</html>
