<!DOCTYPE html>

<html>
<head>
  <meta charset='uta-8'>
  <title>Trackingspace</title>

</head>
<body>
  <%= render 'layouts/header' %>

    <% flash.each do |name, msg| %>
      <% content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

  <div class="container">
    <section id="content">
      <%= yield %>
    </section>
    <% unless mobile_device? %>
      <section id="sidebar">
        <table>
        <tr>
          <td>
            <script type="text/javascript"><!--
              google_ad_client = "ca-pub-5451064655705220";
              /* Top Right Links */
              google_ad_slot = "6090008318";
              google_ad_width = 200;
              google_ad_height = 90;
              //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
          </td>
        </tr>
        <tr>
          <td>
            <script type="text/javascript"><!--
              google_ad_client = "ca-pub-5451064655705220";
              /* First */
              google_ad_slot = "8276506850";
              google_ad_width = 250;
              google_ad_height = 250;
              //-->
            </script>
            <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
          </td>
        </tr>
      </table>
        <%= yield :sidebar %>
      </section>
    <% end %>
    <div class="clear"></div>
  </div>    
  
  <%= render 'layouts/footer' %>

</body>
</html>
