<table width="100%">
	<tr>
		<td><%= image_tag('http://www.trackingspace.com/assets/FullLogo.png', :size => '300x40') %></td>
	</tr>
	<tr>
		<td><%= yield %></td>
	</tr>
	<tr>
		<td>2013 TrackingSpace</td>
	</tr>
</table>
